src-org/main/default/flows/GenerateQuoteTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Quote</name>
        <label>Generate Quote</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GenerateQuote.generateQuote</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GenerateQuoteRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateQuote.generateQuote</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Id</name>
        <label>Assign Opportunity Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>GenerateQuoteRequest.opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Generate Quote Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Quote Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GenerateQuoteRequest</name>
        <apexClass>herokuapplink__GenerateQuote_QuoteGenerationRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
